.App {
  text-align: center;
}



.CheckboxStyle {
  
    width: 1.4em;
    height: 1.4em;
}

.Container {
  background-image: url(/src/assets/bg.png);
      height: 130vh;
      background-size: cover;

      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: #464646;
      background-repeat:no-repeat;
  }



.StartButtons {
  margin: 5px 10px;
  border-radius: 2em;
  width: 200px;
  height: 40px;
  /* margin: 0 auto; */
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s linear;
  outline: none;
  color: #61dafb;
}

.startbutton {
  background-color: #1F3E51;
  border: #707070 ;
  color: #788B96;
}

.startbuttonactive {
  background-image: linear-gradient(#4aac23, #15440a);
  border: #707070 ;
  color: #fff;
}
.backbutton {
  background-image: linear-gradient( #F80705, #7B1E1D);


  color: #fff;
}

.StartArea {
text-align: center;
margin: 10px;
}


