
.StartButtons {
  margin: 5px 10px;
  border-radius: 2em;
  width: 170px;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  outline: none;
   
   text-decoration: none;
   padding: 11px 30px;
   display: inline-block;
   font-size: 0.9em; 

}

.startbutton {
  background-color: #1F3E51;
  border: #707070 ;
  color: #788B96;
  text-decoration: none;
}

.startbuttonactive {
  background-image: linear-gradient(#4aac23, #15440a);
  border: #707070 ;
  color: #fff;
  text-decoration: none;
}
.backbutton {
  background-image: linear-gradient( #F80705, #7B1E1D);

  color: #fff;
}

.login-button {
  margin: 10px;
  width: 29%;
    height: 58px;
    border-radius: 29px;
    font-size: 1em;
    background-image: linear-gradient(#F80705, #7B1E1D);
    background-blend-mode: normal;
    color: white;
    border-style: none;
    font-weight: 500 !important;
}

.btnContainer {
    border-radius: 1em;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 80%;
    outline: none;
    background-color: #113446;
    color: #fff;
    text-decoration: none;
   text-align: center;

  }
  
  .btn {
  align-self: center;
  text-decoration: none;
   text-align: center;

  }