.InputTeamName {
    text-align: left;
    padding-left: 20px ;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    height: 30px;
    outline:none;
    border: 1px;
    @media (min-width: 1100px){
      width: 200px;
    }
    
    @media (min-width: 251px) and (max-width: 1099px){
      width: 150px;

    }
    
    @media (max-width: 250px){
      // width: 70%;
      display: 100px;
    }
  }

  .input-field{
    outline: none;
    background-color: #3a4e5a;
    border-radius: 29px;
    border-color: white;
    font-size: 1em;
    font-weight: 400;
    width: 70%;
    min-height: 50px;
    padding-left: 20px;
    color: white;
    margin-top: 10px;
  }

  .input-field::placeholder{
    color:white;
  }